.tabsAndDishesContainerDIV {
  display: flex;
  flex-direction: row;
}

.tabsContainerDIV {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  box-shadow: 5px 0px 3px 0px lightgrey;
  width: 100%;
}

.removeDefaultBtnStyles {
  padding: 10px;
  cursor: pointer;
  background: transparent;
  border: 0px;
}

.tabSelected {
  color: red;
  border-bottom: 2px solid red;
}

.dishesContainerUL {
}

.cart {
  position: absolute;
  top: -5px;
  right: -5px;
}
